@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');


body {
    margin: 0;
    padding: 0;
    font-family: 'Nunito sans', sans-serif;
    background: radial-gradient(circle at top right, #005CFF, #000000 50%  );
    color: #fff;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .container {
    width: 1156px;
    height: 537px;
    max-width: 1000px;
    background-color: #000;
    padding: 40px;
    box-shadow: 0 0 30px #003cff55;
    position: relative;
  }
  
  h1 {
    font-weight: 600;
    display: flex;
    align-items: center;
    gap: 10px;
    color: #ffffff;
    justify-content: center;
    margin-bottom: 30px;
    font-size: 60px
  }
  
  .input-area {
    position: relative;
    width: 100%;
    max-width: 600px;
    margin: 0 auto 30px;
  }
  
  .input-area input {
    border-radius: 10px;
    border: none;
    width:  98%;
    height: 52px;
    font-size: 1rem;
    font-weight: 700;
    padding: 5px;
  }
  
  .input-area button {
    position: absolute;
    right: 3px;
    top: 50%;
    transform: translateY(-50%);
    background-color: #0070f3;
    border: none;
    color: white;
    padding: 8px 12px;
    border-radius: 6px;
    cursor: pointer;
    width: 62px;
    height: 62px;
  }
  
  .input-area button:hover {
    background-color: #0059c1;
  }
  
  .profile {
    background-color: #D9D9D9;
    border-radius: 25px;
    padding: 20px;
    display: flex;
    gap: 20px;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .profile img {
    width: 220px;
    height: 220px;
    border-radius: 50%;
    border: 3px solid #005CFF;
  }

  .content {
    display: flex;
    align-items: center;
    gap: 20px;
  }
  
  .bio {
    margin-top: 10px;
    color: #000;
    font-weight: 300;
    font-size: 15px;
  }

  .name {
    color: #005CFF;
    font-size: 20px;
    font-weight: 700;
  }

  .erro {
    background-color: #D9D9D9;
    height: 88px;
    border-radius: 10px;
    text-align: center;
  }
  
  .texto-erro {
    color: #FF0000;
    font-weight: 400;
    font-size: 20px;
    padding: 20px;
  }

  